<header id="navigationmenu">
  <div class="container clearfix">
<!--start container-->    
      <!--left navigation-->
      <div class="grid_5">
            <nav class="leftnavigation">
            <ul>
                <li><a href="#/history">Nuestra historia</a></li> <!--you can edit-->
                <li><a href="#/testimonials">Productos</a></li> <!--you can edit-->                    
                <li><a href="#/services">Inicio</a></li> <!--you can edit-->
            </ul>    
            </nav>
        </div>
        <!--end left navigation-->
        
        <!--start logo-->
        <div class="grid_2 logo">
          <img alt="" src="img/logo.png"><a href="#/"/></img> <!--Include your logo with size 180px X 239 px-->
        </div>
        <!--end logo-->
        
        <!--right navigation-->
        <div class="grid_5">
            <nav class="rightnavigation">
            <ul>
                  <li><a href="#/sectionteam">Galeria</a></li> <!--you can edit-->
                  <li><a href="#/deals">Promociones</a></li> <!--you can edit-->
                    <li><a href="#/contacts">Contacto</a></li> <!--you can edit-->
                </ul>    
            </nav>
        </div>
        <!--end right navigation-->
    
    </div>
    <!--end container-->
</header>